<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC
        "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="education.cs.scu.mapper.FriendMapper">
    <resultMap id="FriendList" type="AppUserInfo">
        <result column="username" property="userName"/>
        <result column="nickname" property="nickName"/>
        <result column="brief_intro" property="brief_intro"/>
        <result column="brief_intro" property="tip"/>
    </resultMap>
    <insert id="addFriend" parameterType="String">
        INSERT INTO friend_list(user_id, friends, relation)
        VALUES (#{userName}, #{friendName}, 0);
    </insert>

    <delete id="deleteFriend" parameterType="String">
        DELETE FROM friend_list
        WHERE (user_id=#{userName} AND friends=#{friendName})
        OR (user_id=#{friendName} AND friends=#{userName});
    </delete>

    <select id="getFriendList" parameterType="AppUserInfo" resultMap="FriendList">
        SELECT username, nickname, brief_intro
        FROM appuser
        WHERE username IN (
        SELECT friends
        FROM friend_list
        WHERE user_id=#{userName}
        UNION
        SELECT user_id
        FROM friend_list
        WHERE friends=#{userName});
    </select>

    <select id="searchFriend" parameterType="AppUserInfo" resultMap="FriendList">
        SELECT username, nickname
        FROM appuser
        <where>
           <if test="userName !=null and userName !=''" >
                username=#{userName}
            </if>
            <if test="nickName !=null and nickName !=''">
                nickname=#{nickName}
            </if>
        </where>
    </select>

    <insert id="setGetUpTip" parameterType="AppUserInfo">
        INSERT INTO greeting(send_user, receive_user, greeting_text)
        VALUES (#{userName}, #{friendName}, #{tip})
    </insert>

    <select id="getGetUpTip" parameterType="AppUserInfo">
        SELECT greeting_text, nickname FROM greeting, appuser
        WHERE send_user = appuser.username AND receive_user = #{userName}
    </select>

    <update id="setRelation" parameterType="String">
        UPDATE friend_list
        SET relation = 1
        WHERE user_id = #{userName}
        AND friends = #{friendName};
    </update>
</mapper>